<% if user_signed_in? %>
  <li>
  <%= link_to('sign out', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('login', new_user_session_path)  %>  
  </li>
<% end %>