<h1>Listing urls</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Shortened URL</th>
    <th>Page Views</th>
  </tr>

<% @urls && @urls.each do |url| %>
  <tr>
    <td><%= url.original_url %></td>
    <td><%= link_to url.short_url, url.short_url %></td>
    <td><%= url.page_views %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New url', new_url_path, :method => :get %>
